@charset "UTF-8";

/* Versão Tablet */

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    section#login {
        width: 70vw;
        height: 500px;
    }

    div#foto {
        float: left;
        width: 30%;
        height: 500px;
        border-radius: 10px 0px 0px 10px;
    }

    div#form {
        float: right;
        width: 70%;
    }

    div#form>h1 {
        padding: 10px;
    }

    div#form>p {
        padding: 10px;
    }

    .box {
        width: 46.4vw;
        height: 90px;
    }

    .box input {
        width: 42.6vw;
        height: 90px;
    }

    div#form > form>.button>input {
        height: 90px;
    }

    div#form > form a {
        margin: 40px 0px;
    }
}