@charset "UTF-8";

/*
    Paleta de Cores
    1 - #3F4D5A (amanhecer)
    2 - #FFD358 (dia)
    3 - #F2A341 (tarde)
    4 - #0D0D0D (noite)
*/

:root {
    --amanhecer: #3F4D5A;
    --dia: #ffd358;
    --tarde: #f2a341;
    --noite: #0d0d0d
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
}

main {
    background-color: var(--amanhecer);
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: white;
    width: 280px;
    height: 500px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.623);
    border-radius: 10px;
}

div#foto {
    display: block;
    height: 200px;
    background: url('../imagens/pexels-george-desipris-1475234\(1\).jpg') center no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

div#form {
    display: block;
    height: 300px;
    padding: 10px;
    color: var(--noite);
}

div#form h1 {
    text-align: center;
}

div#form .box {
    background-color: var(--amanhecer);
    margin: 10px 0px;
    border-radius: 10px;
}

label>span#icon-user,
span#icon-key {
    color: white;
    margin-top: 11px;
    padding: 2px;
    /* display: inline-block; */
    /* border: 1px solid red; */
    /* border: 1px solid white; */
    /* margin-bottom: 15px; */
}

.box>input:active {
    background-color: #f2a341;
    color: var(--amanhecer);
}

.box>input#iuser {
    position: absolute;
    top: 302.5px;
    display: block;
    margin-left: 30px;
    margin-top: -19px;
    width: 82%;
    height: 40px;
    padding-left: 3px;
    border-radius: 10px;
}

.box>input#ipass {
    position: absolute;
    top: 352.5px;
    display: block;
    margin-left: 30px;
    margin-top: -19px;
    width: 82%;
    height: 40px;
    padding-left: 3px;
    border-radius: 10px;
}

div#form > form>.button>input {
    background-color: var(--amanhecer);
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

div#form > form>.button>input:hover {
    text-decoration: underline;
}

div#form > form a {
    display: block;
    color: var(--noite);
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}
div#form > form a:hover {
    text-decoration: underline;
}